@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: "Hustle Bright";
    src: url("../fonts/Hustle Bright.ttf");
}

@font-face {
    font-family: "Hustle Bright Italic";
    src: url("../fonts/Hustle Bright Italic.ttf");
}

@font-face {
    font-family: "Brasika Display";
    src: url("../fonts/brasika-display-trial.otf");
}

@font-face {
    font-family: "Rosetti";
    src: url("../fonts/Rosseti-Regular.ttf");
}

@font-face {
    font-family: "Rosetti Light";
    src: url("../fonts/Rosseti-Light.ttf");
}

.decorative {
    font-family: "Rosetti";
}

* {
    font-family: "Inter Tight", sans-serif;
}

html {
    min-width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*span, div {
    cursor: default;
}*/

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    /*background-image: url('../images/Background.jpg');
    background-repeat: no-repeat;
    background-size: 102%;*/
    background-color: #F6EFE1;
}

/*<==============================================*/
/*       GLOBAL STYLE
/*===============================================*/
* {
    /*letter-spacing: -1px;*/
    transition: all 0.2s ease-in-out, font-size 0s ease;
}

.page-container {
    /*padding: 0px 20px;*/
    position: relative;
}

@media screen and (max-width: 540px) {
    .page-container {
        padding: 0;
    }
}

/*<==============================================*/
/*       COLORS
/*===============================================*/

.red-bg {
    background-color: #a90000;
}

.blue-bg {
    background-color: #1f1e6f;
}

/*<==============================================*/
/*       OVERLAY
/*===============================================*/
.video-overlay {
    position: absolute;
    top: 0;
    mix-blend-mode: screen;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}