@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: "Hustle Bright";
    src: url("../fonts/Hustle Bright.ttf");
}

@font-face {
    font-family: "Hustle Bright Italic";
    src: url("../fonts/Hustle Bright Italic.ttf") ;
}

@font-face {
    font-family: "Brasika Display";
    src: url("../fonts/brasika-display-trial.otf") ;
}

.decorative {
    font-family: "Brasika Display";
}

* {
    font-family: "Inter Tight", sans-serif;
}

/*span, div {
    cursor: default;
}*/

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    /*background-image: url('../images/Background.jpg');
    background-repeat: no-repeat;
    background-size: 102%;*/
    background-color: #F6EFE1;
}
